.left-div {
    width: 45%;
    min-height: 97vh;
    box-sizing: border-box;
    flex-shrink: 0;
    z-index: 1200;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    // box-shadow: antiquewhite;
    backdrop-filter: blur(30px);
    background-color: #000000 !important;
    border-radius: 10px;
    color: white;
    border-radius: 10px !important;
    padding-bottom: 30px !important;

    .pview {
        background: rgb(31, 31, 31, 0.6) !important;
        border-radius: 10px;
    }

    .cover-photo {
        // border: 1px solid rgb(255, 255, 255);
        // border: none;
        width: 100% !important;
        height: 35vh;
        border-radius: 10px !important;
    }

    .profile-photo  {
        border-style: solid;
        border-width: 4px 4px thin;
        border-color: rgb(255, 255, 255);
        position: absolute;
        left: 50%;
        top: 30vh;
        width: 150px;
        height: 150px;
        transform: translate(-50%, -10%);
    }
    .pview-img-div{
        height: 250px;
        width: 100%;
    }
    .p-img{
        margin-top: -50px;
        height: 120px !important;
        width: 120px !important;
        border-radius: 50% !important;
    }

    .main-name {
        font-family: 'Century Gothic';
        font-weight: bold;
        font-size: 21px;
        text-align: center;
        color: white;
        position: absolute;
        width: 40%;
        left: 32%;
        top: 50vh;
    }

    .main-title {
        font-family: 'Century Gothic';
        text-align: center;
        font-size: 16px;
        color: rgb(0, 0, 0);

        position: absolute;

        width: 40%;
        left: 32%;
        top: 55vh;
    }

    .main-story {
        font-family: 'Century Gothic';
        text-align: center;
        font-size: 13px;
        color: rgb(0, 0, 0);
        position: absolute;
        width: 90%;
        left: 5%;
        top: 61vh;
    }

    .editbutton {
        position: absolute;
        right: 20%;
        bottom: 3vh;
    }
}

.right-div {
    position: absolute;
    left: 51.5%;
    top: 12vh;
    width: 45%;
    min-height: 97vh;
    box-sizing: border-box;
    flex-shrink: 0;
    z-index: 1100;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: antiquewhite;
    backdrop-filter: blur(30px);
    background: #000000 !important;
    border-radius: 10px !important;

    .input-style{
        color: rgb(255, 255, 255);
        background-color: #3F3F3F !important;
        width:100%;
        border-radius: 5px;
    }
    input::before{
        display: none !important;
    }
    .profile-text {
        font-family: 'Bahnschrift';
        color: rgb(255, 255, 255);
        margin-bottom: 2vh;
        font-size: medium;
    }

    .profile-status {
        font-family: 'Bahnschrift';
        font-size: '16px';

        color: rgb(255, 255, 255);
        margin-bottom: 20px;
    }

    .profile-name {
        width: 100%;
        margin-bottom: 20px !important;

        .nameIcon {
            margin: 1.5vh 3% 0vh 0%;
            color: rgb(255, 255, 255);
        }
    }

    .profile-title {
        width: 100%;
        margin-bottom: 20px !important;

        .titleIcon {
            margin: 0vh 3% 0vh 0%;
            color: rgb(255, 255, 255);
        }
    }

    .profile-bio {
        width: 100%;
        margin-bottom: 20px !important;

        .bioIcon {
            margin: 0vh 3% 0vh 0%;
            color: rgb(255, 255, 255);
        }

    }
    .cover-status {
        font-family: 'Bahnschrift';
        font-size: '16px';

        color: rgb(255, 255, 255);
        margin-bottom: 20px !important;
    }

    .cover-text {
        font-family: 'Bahnschrift';

        color: rgb(255, 255, 255);
        margin-bottom: 2vh;

        font-size: medium;
    }
    .css-1tcs2i1-MuiInputBase-root-MuiInput-root.Mui-error::after{
        display: none;
    }

    .css-mo96ya-MuiInputBase-root-MuiInput-root.Mui-error:after{
        display: none;
    }
    .css-mo96ya-MuiInputBase-root-MuiInput-root::after{
        display: none;
    }

    .css-9dlspg-MuiInputBase-root-MuiInput-root.Mui-error:after{
        display: none;
    }
    
    .savebutton {
        position: absolute;

        left: 12%;
        bottom: 3vh;
        width: 36%;
    }

    .cancelbutton{
        position: absolute;


        right: 12%;
        bottom: 3vh;

        width: 36%;
    }

    .kiHXWb{
        max-width: 100% !important;
    }

    .css-1x51dt5-MuiInputBase-input-MuiInput-input::before{
        display: none !important;
    }
}

// Profile pages Style

.p-section{
    background-color: #000000;
    border-radius: 10px;
}
.profile-form div label{
    font-weight: 500;

}
input.form-control{
    background-color: #3F3F3F;
    outline: none;
    color: white;
    border: none;
}
input.form-control::placeholder {
    color: white;
 }
input.form-control:focus{
    background-color: #3F3F3F;
    outline: none;
    color: white;
}
.profile-form div textarea{
    background-color: #3F3F3F;
    outline: none;
    color: white;
    border: none;
    font-weight: 500;
    width: 100%;
}
.profile-form div textarea:focus{
    background-color: #3F3F3F;
    outline: none;
    box-shadow: none;
    color: white;
}
.profile-form div textarea::placeholder {
    color: white;
    text-align: center;
 }
.drop_zone {
    /* display: flex; */
    height: 150px;
    width: 100%;
    background: white;
    /* background-image: url("/icons/upload.png"); */
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-color: #3F3F3F;
    cursor: pointer;
    border: 2px solid #3F3F3F;
    border-radius: 10px;
    /* margin-bottom: 25px; */
    /* background-position: center 28px; */
}
.drop_zone>p {
    margin: auto;
}
.image{
   width: 100%;
   height: 100px !important;
   border-radius: 10px;
   display: inline-block;
 
}
.image img{
    width: 100%;
    height: 195px;
    border-radius: 10px;
}

/* Profile Preview Page  */
/* ------------------------------------------------- */

.pview-section{
    background-color: #000000;
    border-radius: 10px;
}
.pview {
    background: rgb(31, 31, 31, 0.6);
    border-radius: 10px;
}
.pview .pview-img-div{
    height: 250px;
    width: 100%;
}
.p-img{
    margin-top: -50px;
    height: 120px !important;
    width: 120px !important;
    border-radius: 50% !important;
}
.web-links a.btn{
    background-color: #1F1F1F;
}
