.main{
    position: absolute;
    left: 35%;
    top: 30vh;

    width: 55%;
    height: 40vh;

    border-radius: 10px;

    background-color: rgb(0, 21, 41);
}

.optionStyle{

    position: absolute;
    left: 15%;
    top: 10vh;

    width: 70%;
    height: 5vh;
}

.radioStyle{
    /* position: absolute; */
    font-family: 'Segoe UI';
    font-weight: bold;    
    font-size: 16px;

    text-align: center;
    width: 33%;
    height: 100%;
}

.addWallBtn{
    font-family: 'Segoe UI';
    font-weight: bold;    
    font-size: 16px;

    position: absolute;
    left: 15%;
    top: 20vh;

    width: 70%;
    height: 5vh;
}

.tabs-group{
    

    .tabs-btn{
        color: white;
    }
    .css-1ljz119-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
        background: transparent !important;
        h6{
            font-weight: 600 !important;
            background: transparent !important;
            color: white !important;
        }
    }
    .css-lm4avy-MuiButtonBase-root-MuiToggleButton-root.Mui-selected{
        background: transparent !important;
    h6{
        font-weight: 600 !important;
        background: transparent !important;
        color: white !important;
    }
    }
}