.mint-div {
    position: absolute;
    left: 27.5%;
    top: 13vh;
    width: 45%;
    height: 104vh;

    padding: 5vh 5% 5vh 5%;

    // box-sizing: border-box;
    // flex-shrink: 0;
    // z-index: 1100;
    // transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    // box-shadow: antiquewhite;
    // backdrop-filter: blur(30px);

    
    // background: rgb(255, 255, 255) !important;
}

.connect-div {
    position: absolute;
    left: 27.5%;
    top: 13vh;
    width: 45%;
    height: 20vh;

    padding: 5vh 5% 5vh 5%;

}